%p#notice= notice

%h1= @user.name

%p self introduction here

%h2 Projects

%ul
- @user.projects_as_owner.each do |project|
  %li=link_to project.title, project

%h2 Contribution
%ul
  - @user.projects_as_shishou.each do |project|
    %li=link_to project.title, project

/ if current user == this user
.edit_acount
  =link_to "Account Setting", edit_user_registration_path
