%p#notice= notice

%h1= @user.email

%p self introduction here

%h2 Projects

%ul
- @user.projects_as_owner.each do |project|
  %li=link_to project.title, project

%h2 Contribution
%ul
  - @user.projects_as_shishou.each do |project|
    %li=link_to project.title, project
