%p#notice= notice

%h1= @user.email

%h2 Projects
%ul
  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%h2 Contribution
%ul
  %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.


= link_to 'Back', users_path
