#header.pure-menu.pure-menu-horizontal.pure-u-1
  = image_tag 'logo_codeshishou.png', class: 'pure-menu-heading', id: 'logo_img'
  %ul.pure-menu-list.custom-menu-list
    %li.pure-menu-item
      .pure-menu-link=link_to 'About', about_path
    %li.pure-menu-item
      .pure-menu-link Login
    %li.pure-menu-item
      .pure-menu-link Search
