#header.pure-menu.pure-menu-horizontal
  = image_tag 'logo_codeshishou.png', class: 'pure-menu-heading', id: 'logo_img'
  %ul.pure-menu-list.custom-menu-list
    %li.pure-menu-item
      .pure-menu-link About
    %li.pure-menu-item
      .pure-menu-link Login
    %li.pure-menu-item
      .pure-menu-link Search
