#landing
  = image_tag 'logo_big.png', id: 'logo_big'
  %h1.catch Find your Shishou (Mentors), Find your Pupils.
  %p Code Shishou is project based programming mentoring matching service.
  %p We help project development on web service, mobile app, and open source project on github by matching skilled developper and product enthusiastic beginner. Join our community!
  = link_to 'Sign Up', new_user_registration_path, class: 'pure-button signup-button'
