#landing
  = image_tag 'logo_big.png', id: 'logo_big'
  %p.description Find your Mentors, Find your Pupils.
  %p Code Shishou is project based programming mentoring service.
  %p We help projects development and help helping projects.
  = link_to 'Sign Up', new_user_registration_path, class: 'pure-button signup-button'
