#landing
  = image_tag 'logo_big.png', id: 'logo_big'
  %p.description Find your Mentors, Find your Pupils.
  %p Code Shishou helps indivisual project development and help helping developper.
  %p Code Shishou is project based programming
  = link_to 'Sign Up', projects_path, class: 'pure-button signup-button'
