%p#search-result-number #{ @projects.length } hits
= link_to 'Create Project', new_project_path
.h-projects Projects
.projects
  - @projects.each do |project|
    .project-summary
      %h2.title=project.title
      %p.body=project.body
      = link_to 'Show', project
