%p#search-result-number #{ @projects.length } hits
.create-project-link= link_to 'Create Project', new_project_path if policy(:project).new?
.user-list-link= link_to 'User list', users_path
.h-projects Projects
.projects
  - @projects.each do |project|
    .project-summary
      %h2.title=link_to project.title, project
      %p.body= truncate(project.body)
      .user
        .logo
        .name=project.owner.name
    %hr
