%p#notice= notice


.project-container
  .title= @project.title
  .repository=link_to 'Go to repository', @project.repository
  .user=@project.owner.name
  .shishous
    .h-shishou List of shishous
    =@project.shishous.map{|e| e.name }
  .body= @project.body


  .edit
    = link_to 'Edit', edit_project_path(@project) if policy(@project).edit?

.become-shishou
  =link_to 'become shishou of this project', be_shishou_project_path, method: :post

/ this should be partial as chat view
.chat-container
  %h3 chats
  %p you can chat with project owner if you become shishou of this project.
  / if current_user.in?(@project.shishous); form_for @chat

  - @project.chats.each do |chat|
    .user
    .body=chat.body
    .date=chat.created_at
