.about-container
  .container
    %h1 About
    %p Code Shishou is project based programming mentoring matching service.
    %p We help project development on web service, mobile app, and open source project on github by matching skilled developper and product enthusiastic beginner. Join our community!
    %h2 For whom stack in your project
    %p Make a project here and wait for your mentor. You don’t need to share all the context every time you ask because your mentor knows your project!

    %h2 For whom want to help and gain reputation
    %p Become Shishou (mentor). Search projects. And help pupils to move forward of their projects by commenting. See their growth.

    %h2 Why?
    %p All the way to become innovator is not to learn code from the text, but to make your own project. Learn by making. But making application lonly without guide may be difficult. And, there were no service that suport the beginner to make what they want from scratch. Then Code Shishou establiehd.
