#header {
  // position: fixed;
  // width: 100%;
  padding-bottom: 5rem;
  padding: 0.2rem;
  z-index: 500;
  background-color: white;

  #logo_img{
    max-width: 140px;
  }

.custom-menu-list {
    float: right;
    padding: 0.8rem;
  }
}
