#landing {
  width: 100vw;
  height: auto;
  min-height: 90vh;
  background-image: url(image_path('landing_bg.png'));
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;

  #logo_big{
    padding: 8rem 0;
  }

  .catch{
    font-weight: normal;
  }

  .signup-button{
    margin: 1rem 0;
    font-size: 150%;
    background-color: #FDFDFC;
  }

}

#logo_big{
  padding: 8rem 0;
}
