// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #landing {
//   background-image: url(image_path('landing_bg.png'));
// }

// index
.h-projects{

}
.projects{
  .project-summary{
    .title{
    }
  }
}

// Show
.project-container{

  .title{
    font-weight: normal;
  }
  .project-header{
    .user{
      .user-name{
        font-weight: bold;
      }
    }
  }
  .shishous{
    // text-align: right;
    float: right;
  }

  .project-body{
    padding: 1rem 0;



  }
}
